:root {
    --ui-accent: hsl(0, 0%, 16%);
    --ui-background: hsl(0, 0%, 26%);
    --ui-white: white;
    --ui-pop: indianred;
    --shadow: 0px 3px 5px black;
}

body {
    background-color: var(--ui-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

nav {
    background-color: var(--ui-accent);
    position: static;
    padding: 15px;
    text-align: left;
}

.navbutton {
    color: white;
    padding: 15px;
    text-decoration: none;
}

.navbutton:hover {
    background-color: var(--ui-pop);
}

main {
    margin: 15px;
    padding: 15px;
    background-color: var(--ui-white);
}

.banner {
    background-color: whitesmoke;
    box-shadow: var(--shadow);
    padding: 15px;
    margin: 15px;
    font-size: 36px;
}

footer {
    background-color: var(--ui-accent);
    text-align: center;
    padding: 3px;
    color: white;
}

/* Basic Media Query */
@media (max-width: 500px) {
    .banner {
        background-color: var(--ui-pop);
    }
}