:root {
    --ui-accent: hsl(0, 0%, 16%);
    --ui-background: hsl(0, 0%, 26%);
    --ui-white: white;
    --ui-pop: indianred;
    --shadow: 0px 1px 5px black;
}

body {
    background-color: var(--ui-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

nav {
    background-color: var(--ui-accent);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    text-align: left;
}

.navbutton {
    color: white;
    padding: 15px;
    text-decoration: none;
}

.navbutton:hover {
    background-color: var(--ui-pop);
}

main {
    margin: 15px 30px 15px 30px;
    padding: 15px;
    background-color: mintcream;
    border-style: solid;
}

.banner {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    box-shadow: var(--shadow);
    border-style: solid;
    padding: 15px;
    margin: 15px;
    margin-top: 65px;
}

h2 {
    margin-top: 5px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    padding: 10px;
    margin: 20px;
    background-color: white;
    box-shadow: var(--shadow);
    border-style: solid;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 10;
    left: 0;
    background-color: var(--ui-accent);
    text-align: center;
    padding: 3px;
    color: white;
}

blockquote {
    box-shadow: var(--shadow);
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.509);
}

/* article {
    box-shadow: var(--shadow);
    padding: 10px;
    margin: 10px;
} */

/* Basic Media Query */

@media (max-width: 500px) {
    .banner {
        background-color: var(--ui-pop);
    }
}

/* Responsive Images */

.responsive-image {
    max-width: 80%;
    /* keep the aspect ratio the sames */
    height: auto;
}

/* retina displays */

#retina-image {
    width: 1028px;
    height: 432px;
}

/* Just chop the dimensions in half */

#retina-image-scaled {
    width: 514px;
    height: 216px;
    margin-bottom: 10px;
}

/* responsive typography */

.responsive-typography {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
}

#vw {
    font-size: 10vw;
    width: 20vw;
    background-color: honeydew;
}

#vh {
    font-size: 10vh;
    width: 20vh;
    background-color: lightyellow;
}

#vmin {
    font-size: 10vmin;
    width: 40vmin;
    background-color: lightcoral;
}

#vmax {
    font-size: 10vmax;
    width: 40vmax;
    background-color: lightskyblue;
}